﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Аттестация";
}

@section scripts
{
    <script src="~/Scripts/Custom/Default.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            // Адрес метода создания ведомости
            sourceUrlVedomAdd = '@Url.Action("AddNewVedom", "", null, "http")';
            // Адрес метода редактирования ведомости
            sourceUrlVedomEdit = '@Url.Action("Index", "VedomDoc", new {pVedCode="param1"}, "http")';
            // Адрес метода печати заполненной ведомости ведомости
            sourceUrlVedomPrint = '@Url.Action("PrintVedom", "VedomDoc", new {pVedCode="param1", pPrintType="param2"}, "http")'; 
            // Адрес метода получения списка ведомостей
            sourceUrlVedomCollection = '@Url.Action("GetVedomCollection", "Default", new {pGrCode = "param1", pPlanName="param2"}, "http")'; 
            // Адрес метода получения списка студентов группы
            sourceUrlStudents = '@Url.Action("GetStudCollection", "Default",  new {pGroupCode="param1"}, "http")'; 
            // Адрес метода получения задолженностей для данного студента
            sourceUrlZadolzh = '@Url.Action("GetStudentZadolzh", "Default",  new {pStudentId="param1"}, "http")';   
            // Адрес метода сохранения оценки в бегунке
            sourceUrlSaveBegun = '@Url.Action("SaveBegunOcenka", "Default",  null, "http")';             
            // Адрес метода печати бегунка
            sourceUrlPrintBegun = '@Url.Action("PrintBegunok", "VedomDoc", new { pBegunCode="param1", pVedCode="param2" }, "http")'; 
            // Адрес для создания бегунков на группу
            sourceUrlCreateBegunForGroup = '@Url.Action("CreateBegunForGroup", "Default", null, "http")'; 


            var mainsplitter = $("#mainSplitter");
            InitSplitter(mainsplitter);

            // Инициализация переменных
            mainTabs = $("#mainTabs");
            splitterContBegun = $("#splitterContBegun");
            // Инициализация переменных
            btnCreateBeguns = $("#btnCreateBeguns");
            btnEditSelBegun = $("#btnEditSelBegun");
            btnPrintSelBegun = $("#btnPrintSelBegun");            

            initInterfaceZadolzh();

            // Отрисовка таблицы со студентами
            studentGrid = $("#studentGrid");
            studentGridInit_Interface();

            // Отрисовка таблицы с бегунками
            begunGrid = $("#begunGrid");
            zadolzhGridInit_Interface();

            var tmpSource = '@Url.Action("GetGroupCollection", null, null, "http")';
            groupGrid = $("#groupGrid");
            sourceUrlGroups = tmpSource.replace('amp;', '');
            InitGroupGrid(groupGrid, sourceUrlGroups);
            
            vedomGrid = $("#vedomGrid");
            InitVedomGrid(vedomGrid);
            
            // Вспомогательные элементы
            labelDepartment = $("#labelDepartment");
            labelGroupName = $("#labelGroupName");
            labelOKCO = $("#labelOKCO");
            labelFO = $("#labelFO");
            labelKurs = $("#labelKurs");
            labelPlanName = $("#labelPlanName");
            ///////////////////////////////
            labelDiscipl = $("#labelDiscipl");
            labelKursVedom = $("#labelKursVedom");
            labelSemVedom = $("#labelSemVedom");
            labelTypeVedom = $("#labelTypeVedom");
            labelSess = $("#labelSess");
            labelSemCalc = $("#labelSemCalc");
            labelVedomNo = $("#labelVedomNo");
            /////////////////////////////////////////////////
            btnNewVedom = $("#btnNewVedom");
            btnNewVedom.jqxButton({ width: '150', height: '25' });
            
            lnkPrintBlank = $("#lnkPrintBlank");
            lnkPrintBlank.jqxLinkButton({ width: '80', height: '25' });
            
            lnkPrintEmpty = $("#lnkPrintEmpty");
            lnkPrintEmpty.jqxLinkButton({ width: '150', height: '25' });
            
            lnkEditVedom = $("#lnkEditVedom");
            lnkEditVedom.jqxLinkButton({ width: '80', height: '25' });
            
            InitVedomButtonsControl();
            
            dlgEditSelBegun = $("#dlgEditSelBegun");
            InitDlgEditSelBegun();
            
            $("#dlgWait").jqxWindow({
                height: 30,
                width: 250,
                resizable: false,
                isModal: true,
                autoOpen: false
            });

        });
    </script>

}

<div>

    @* Элементы управления сверху *@
    <div>
        Пользователь: @ViewBag.AuthMessage
        <br/>
    </div>
    
    @* Окно редактирования бегунка *@
    <div id="dlgEditSelBegun">
        <div id="dlgEditSelBegunCaption">Редактирование бегунка</div>
        <div>
            Оценка: <div id="dlgEditSelBegunOcenka"></div>
            <div style="padding-top: 30px; align-items: center">
                <input type="button" id="okSelBegun" value="Сохранить"/>
                <input type="button" id="cancelSelBegun" value="Отмена"/>
            </div>
        </div>
    </div>
    
     @* Окно ожидания *@
    <div id="dlgWait">
        <div id="dlgWaitCaption">Создание бегунков на группу</div>
        <div id="dlgWaitCaption">...</div>
    </div>

    @* Основное отображение данных *@
    <div class="heightAttestacia">
        <div id="mainSplitter">
            <div>
                @* элементы управления группами *@
                <div>
                    
                </div>
                @* таблица с группами *@
                <div id="groupGrid"></div>
            </div>
            <div>
                @* элементы управления ведомостям *@
                <div>
                    <div style="border-style: solid; border-width: 2px; border-color: gainsboro">
                        <span>Подраз.: <b><label id="labelDepartment">-</label></b></span>
                        <span>Гр.: <b><label id="labelGroupName">-</label></b></span>
                        <span>Спец.: <b><label id="labelOKCO">-</label></b></span>
                        <span>ФО: <b><label id="labelFO">-</label></b></span>
                        <span>Курс: <b><label id="labelKurs">-</label></b></span>
                        <span>План: <b><label id="labelPlanName">-</label></b></span>
                    </div>
                    @* Вкладки *@

                    <div id="mainTabs">
                        <ul>
                            <li>Ведомости</li>
                            <li>Бегунки</li>
                        </ul>
                        @* Вкладка для работы с ведомостями *@
                        <div>
                            @* Информация о ведомостях *@
                            <div style="border-style: solid; border-width: 2px; border-color: gainsboro">
                                <span>Дисцилина: <b><label id="labelDiscipl">-</label></b></span><br/>
                                <span>Курс: <b><label id="labelKursVedom">-</label></b></span> 
                                <label id="labelSemVedom" style="visibility:hidden"></label> 
                                <span>Семестр: <b><label id="labelSemCalc">-</label></b></span>
                                <span>Тип: <b><label id="labelTypeVedom">-</label></b></span> 
                                <label id="labelSess" style="visibility:hidden">-</label>
                                <span>Вед.№: <b><label id="labelVedomNo">-</label></b></span>                     
                            </div>
                            @* Кнопки для ведомостей *@
                            <div style="border-style: solid; border-width: 2px; border-color: gainsboro">
                                <input type="button" value="Новая ведомость" id="btnNewVedom"/>
                                <a target="_blank" href="" id='lnkEditVedom'>Правка</a>
                                <a target="_blank" href="" id='lnkPrintBlank'>Бланк</a>
                                <input type="button" value="Export" id="btnExport" style ="visibility:hidden"/>
                                <a target="_blank" href="" id='lnkPrintEmpty' style="visibility:hidden">Печать (факт)</a>
                            </div>

                            @* таблица с ведомостями *@
                            <div id="vedomGrid"></div>

                        </div>
                        @* Вкладка для работы с бегунками *@
                        <div>
                            @* Управление бегунками *@
                            <div>
                                <input type="button" id="btnCreateBeguns" value="Создать" title="Создать бегунки для всей группы"/> 
                                <input type="button" id="btnEditSelBegun" value="Правка" title="Внести оценку в бегунок"/> 
                                <input type="button" id="btnPrintSelBegun" value="Печать" title="Вывести бегунок на печать"/>                                 
                            </div>
                            @* Splitter: Контингент/бегунки *@
                            <div id="splitterContBegun">
                                @* Контингент *@
                                <div>
                                    @* Таблица студентов *@
                                    <div id="studentGrid"></div>
                                </div>
                                @* Бегунки *@
                                <div>
                                    @* Таблица бегунков *@
                                    <div>
                                        <span>Код: <b><label id="curStudId">-</label></b></span>
                                        <span>ФИО: <b><label id="curStudFIO">-</label></b></span>
                                        <span>Статус: <b><label id="curStudStatus">-</label></b></span>
                                        <span>Состояние задолж.: <b><label id="curIsStudZadolzh">-</label></b></span>
                                    </div>
                                    <div id="begunGrid"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>                
            </div>
        </div>       
    </div>
  
    @* Вывод сообщений пользователю *@
    <div></div>

    @* Элементы управления внизу *@
    <div></div>
</div>


