﻿@{
    ViewBag.Title = "Ведомость";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts
{
    <script src="~/Scripts/Custom/Vedom.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var mainsplitter = $("#mainSplitter");
            InitSplitter(mainsplitter);

            var vedomGrid = $("#vedomGrid");
            InitVedomGrid(vedomGrid);

            var begunGrid = $("#begunGrid");
            InitBegunGrid(begunGrid);

        });
    </script>

}

<div>
    @* Элементы управления сверху *@
    <div>
        Пользователь: @ViewBag.AuthMessage
        <br/>
        @*@Html.ActionLink("Ведомость","Vedomost");*@
    </div>
    
    @* Основное отображение данных *@
    <div class="heightVedom">
        <div id="mainSplitter">
            <div>
                <div id="vedomGrid"></div>
            </div>
            <div>
                <div id="begunGrid"></div>
            </div>
        </div>       
    </div>
  
    @* Вывод сообщений пользователю *@
    <div></div>

    @* Элементы управления внизу *@
    <div></div>
</div>
