﻿@model Decanat.Models.VedomDescription

@{
    ViewBag.Title = "Редактирование ведомости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/Custom/Vedom.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            var mainsplitter = $("#mainSplitter");
            InitSplitter(mainsplitter);

            labelFio = $("#labelFio");

            curVedType = '@Model.VedType';
            curVedomCode = @Model.VedCode;
            isClosed = @Model.IsClosed;
            isCurrentAtt = '@Model.IsCurrentAtt';
            isNeedReiting = '@Model.IsNeedReiting';

            // Адрес метода импорта из ИАСУ
            sourceUrlVedomImport = '@Url.Action("ImportIASU", "VedomDoc", null, "http")';
            // Адрес метода импорта из ИАСУ
            sourceUrlImportPreview = '@Url.Action("ImportPreview", "VedomDoc", new {pVedCode="param1"}, "http")';
            // Адрес метода печати бланка ведомости
            sourceUrlVedomPrint = '@Url.Action("PrintVedom", "VedomDoc", new {pVedCode="param1", pPrintType="param2"}, "http")'; 
            // Адрес метода закрытия ведомости
            sourceUrlVedomClose = '@Url.Action("CloseVedom", "VedomDoc", null, "http")'; 

            InitVedomProperties();

            urlOcenkiDataSource = '@Url.Action("GetOcenkiForVedom", null, new {pVedCode = @Model.VedCode}, "http")';
            ocenkiGrid = $("#ocenkiGrid");
            InitVedomGrid(ocenkiGrid);

            urlBegunkiDataSourceRart1 = '@Url.Action("GetBegunkiForStudent", null, new {pStudentId = "param1", pVedCode = "param2"}, "http")';
            begunGrid = $("#begunGrid");
            InitBegunGrid(begunGrid);

            urlSaveOcenki = '@Url.Action("SaveAllOcenki", null, null, "http")';
            btnSaveOcenki = $("#btnSaveOcenki");
            
            btnCheckAll = $("#btnCheckAll"); // btnCheckAll

            initButtons();

            // Создаем окно с результатами сохранения
            messageDlg = $("#messageDialog");
            messageDlgContent = $("#messageDlgContent");
            messageDlg.jqxWindow({
                height: 280,
                width:400,
                resizable: false,
                isModal: true,
                autoOpen: false,
                okButton: $('#ok'), cancelButton: $('#cancel'),
                initContent: function () {
                    $('#ok').jqxButton({ width: '65px' });
                    $('#cancel').jqxButton({ width: '65px' });
                    $('#ok').focus();
                }
            });
            
            // Создаем окно ожидания (блокировки пользователя)
            waitWindow = $("#waitWindow");
            waitWindow.jqxWindow({
                height: 100,
                width:200,
                resizable: false,
                isModal: true,
                autoOpen: false
            });

            initImportDialog();
            
            urlCreateBegunok = '@Url.Action("CreateNewBegunok", "VedomDoc", null, "http")';
            urlEditBegunok = '@Url.Action("EditBegunok", "VedomDoc", null, "http")';
            urlPrintBegunok = '@Url.Action("PrintBegunok", "VedomDoc", new { pBegunCode="param1", pVedCode="param2" }, "http")';
            dlgBegun = $("#dlgBegun");
            dlgBegunCaption = $("#dlgBegunCaption");
            InitDialogBegun();

        });
    </script>
}

<div>
    @* Элементы управления сверху *@
    <div>
        @*@Html.ActionLink("Ведомость","Vedomost");*@
        <span>Ведомость №<b>@Model.VedCode</b></span>&nbsp;&nbsp;&nbsp;
        <span><b>@Model.Discipl</b></span><br/>
        <span><b>@Model.Department</b></span>&nbsp;&nbsp;
        <span>Группа: <b>@Model.GroupName</b></span>&nbsp;&nbsp;&nbsp;<span><b>@Model.Spec</b></span>&nbsp;&nbsp;&nbsp;
        <span>Курс: <b>@Model.Kurs</b></span>&nbsp;&nbsp;&nbsp;<span>Семестр: <b>@Model.Semestr</b></span>&nbsp;&nbsp;&nbsp;
        <span>ФО: <b>@Model.FOName</b></span><br/>
        <span>Год: <b>@Model.God</b></span>&nbsp;&nbsp;&nbsp;<span>Тип: <b>@Model.VedType</b></span>&nbsp;&nbsp;&nbsp;
        <span>Лек: <b>@Model.ChasLek</b></span>&nbsp;&nbsp;&nbsp;<span>Пр: <b>@Model.ChasPract</b></span>&nbsp;&nbsp;&nbsp;
        <span>Лр: <b>@Model.ChasLab</b></span>&nbsp;&nbsp;&nbsp;<span>Всего: <b>@Model.ChasTotal</b></span>&nbsp;
    </div>

    @* Основное отображение данных *@
    <div class="heightVedom">
        <div id="messageDialog">
            @*Заголовок*@
            <div>Сохранение завершено</div>
            @*Контент диалогового окна*@ 
            <div>
                <div id="messageDlgContent" style="overflow:scroll; height: 200px;">
                        
                </div>
                <div style="float: right; margin-top: 15px;">
                    <input type="button" id="ok" value="OK" style="margin-right: 10px" />
                    <input type="button" id="cancel" value="Cancel" />
                </div>                       
            </div>
        </div>
        
        @* Диалог предварительного просмотра импорта *@
        <div id="importDialog">
            @* Заголовок диалога *@
            <div><p id="importCaption">Импорт результатов:</p></div>
            @*Контент диалогового окна*@
            <div>
                <div id="importGrid"></div>
                <br/>
                <div>
                    <input type="button" id="importOk" value="OK" style="margin-right: 10px" />
                    <input type="button" id="importCancel" value="Cancel" />
                </div>
            </div>

        </div>
        
        <div id="waitWindow">
            <div>Сохранение оценок</div>
            <div id="waitWindowContent">Ожидание...</div>
        </div>
        
        @* Диалоговое окно для бегунка *@
        <div id="dlgBegun">
            @* Заголовок окна *@
            <div id="dlgBegunCaption" >Экз. лист</div>
            @* Форма окна *@
            <div>
                <div id="#dlgBegunContent">
                    @* Экзаменационный лист (зачет) № 111 *@
                    <p>Экзаменационный лист(<b><span id="itemBegunVedType">@Model.VedType</span></b>) №<b><span id="itemBegunNo">--</span></b> </p>
                    @* Дисциплина *@
                    <p>Дисциплина: <b><span id="itemBegunDiscipl">@Model.Discipl</span></b></p>
                    @* Тип, принимал *@
                    <span id="itemBegunVedType1">@Model.VedType</span> принимал(а) <span id="itemBegunPrepod">@ViewBag.Prepod</span>
                    @* Факультет, специальность *@
                    <p>Факультет: <b><span id="itemBegunDepartment">@Model.Department</span></b> Специальность: <b><span id="itemBegunSpec">@Model.Spec</span></b> </p>
                    @* Группа, курс, семестр *@  
                    <p>
                        Группа: <b><span id="itemBegunGroup">@Model.GroupName</span></b> 
                        Курс: <b><span id="itemBegunKurs">@Model.Kurs</span></b>
                        Семестр: <b><span id="itemBegunSem">@Model.Semestr</span></b> 
                    </p>         
                    @* ФИО, оценка *@

                    
                    ФИО: <b><span id="itemBegunFIO"></span></b> Оценка: <div id="itemBegunOcenka"></div> 
     
                    @* Даты *@
                    <div>
                        Дата создания: <div id="itemBegunDateCreate"></div>
                        Дата выдачи: <div id="itemBegunDateGive"></div>
                        Срок действия (дата закрытия): <div id="itemBegunDateExpired"></div> 
                    </div>                                
                </div>
                <div style="padding-top: 20px; align-items: center">
                    <input type="button" id="okBegun" value="Сохранить"/>
                    <input type="button" id="cancelBegun" value="Отмена"/>
                </div>
            </div>
        </div>

        <div id="mainSplitter">
            <div>
                @* элементы управления для оценок в ведомости *@
                <div>
                    @*<input type="button" title="Добавить студента" value="Добавить студента"/>*@
                    <input type="button" id="btnSaveOcenki" value="Сохранить" title="Сохранить все данные в ведомости"/>
                    <input type="button" id="btnCheckAll" value="В/В" title="Выбрать всех для печати"/>
                    <a target="_blank" href="" id='lnkPrintBlank' title="Печать бланка ведомости">Бланк</a>
                    &nbsp;&nbsp;<b><label id="labelIsClosed" title="Статус ведомости">-</label></b>&nbsp;&nbsp;
                    <input type="button" id="btnCloseVedom" value="Закрыть" title="Перенеси рценки из ИАСУ"/>
                    <img src="/Content/Images/flag.png" id ="imageIsCurrentAtt" width="25"/>
                    <img src="/Content/Images/reiting.png" id ="imageIsNeedReiting" width="25" title="Учитывается рейтинг"/>
                    <input type="button" id="btnImportIASU" value="Импорт" title="Перенеси рценки из ИАСУ"/>
                </div>
                <div id="ocenkiGrid"></div>

            </div>
            <div>
                @* элементы управления для бегунков *@
                <div>
                    <b><label id="labelFio"></label></b>
                    <br/>
                    Экз. лист №<b><label id="labelBegunNo"> - </label></b>&nbsp;
                    @*Создание: <b><label id="labelBegunDate"></label></b>*@
                    <br/>
                    <input type="button" title="Создать новый бегунок" value="Создать" id="btnNewBegun"/>
                    <input type="button" title="Выставить оценку" value="Правка" id="btnEditBegun"/>
                    <input type="button" title="Печать блана бегунка" value="Бланк" id="btnPrintBegun"/>
                    @*<a target="_blank" id="btnPrintBegun" href="">Печать</a>*@
                    <br/>
                </div>
                <div id="begunGrid"></div>
            </div>
        </div>       
    </div>
  
    @* Вывод сообщений пользователю *@
    <div></div>

    @* Элементы управления внизу *@
    <div></div>
</div>

