﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Деканат: @ViewBag.Title</title>
    @* Стили *@
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Scripts/jQWidgets/styles/jqx.base.css") 
       
    @* Скрипты *@
    
    @Scripts.Render("~/bundles/modernizr")    
    @Scripts.Render("~/bundles/jquery")     
    @Scripts.Render("~/Scripts/jQWidgets/jqx-all.js")
    @Scripts.Render("~/Scripts/jQWidgets/jqxcore.js")
    @Scripts.Render("~/Scripts/jQWidgets/jqxcheckbox.js")


    @RenderSection("scripts", required: false)

</head>
<body>
    @* Главный фрейм *@
    <div class="mainconteiner">

        @* Header *@
        <div class="headercontent">
            <div class="leftheader">
                Деканат: @ViewBag.Title
            </div>
            <div class="rightheader">
                <img src="~/Content/Images/logo_small.png" width="80px"/>
            </div>
            
        </div>
        
        @* MainContent *@
        <div>
            @RenderBody()
        </div>

        @* Footer *@
        <div class="footercontent">
            @DateTime.Now.ToShortDateString()
        </div>
    </div>
</body>
</html>
