﻿@{
    ViewBag.Title = "Аттестация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/Custom/Attestacia.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            // Init splitter control            
            InitMainSplitter();

            // Init tab control
            InitMainTab();

            // Init group tree
            InitGroupTree();



            // Init TreeGrid for vedomosti
            InitVedomGrid();

        });
    </script>
}

<div class="heightAtt">
    @* Top controls for all page *@
    <div>
        Top controls for all page
    </div>

    @* Main Splitter *@
    <div id="mainsplitter">
        
        @* Left Panel *@
        <div>
            @* Top controls for left panel *@
            <div>
                Top controls for left panel
            </div>

            @* Tree *@
            <div id="groupTreeGrid"></div>

        </div>
        
        @* Right Panel *@
        <div>
            @* top Controls for right panel *@
            <div>
                Top controls for right panel
            </div>

            @* Tab control *@
            <div id="mainTab">
                @* Tab's captions *@
                <ul>
                    <li>Ведомости</li>
                    <li>Бегунки</li>
                    <li>Задолженности</li>
                </ul>
                @* Tab vedomosti *@
                <div>
                    @* Cotrols for vedomosti *@
                    <div>
                        <p>Controls for vedomosti</p>
                    </div>
                    @* TreeGrid cotrol for vedomost *@
                    <div id="vedomGrid"></div>
                </div>
                @* Tab begunki *@
                <div>
                    Begunki
                </div>
                @* Tab zadolzh *@
                <div>
                    Zadolzhenosti
                </div>
            </div>

        </div>
    </div>
</div>