﻿.mainconteiner
{
    width:90%;
    background:#FFF;
    margin: 0 auto;
    min-width:780px;
}

.headercontent
{
    background-color: #2F5493;
    font-family: Arial;
    font-size: xx-large;
    font-weight: bold;
    color: #FFFFFF;
    height: 80px;
}

/*для заголовка в header*/
.leftheader{
    padding-left:20px;
    float:left;
}

/*для картинки*/
.rightheader
{
    float: right;
    padding-right: 20px;
}

/*для footer*/
.footercontent{
    padding: 5px;
    background-color: #2F5493;
    font-family: Arial;
    font-size: larger;
    font-weight: bold;
    color: #FFFFFF;
    height: 50px;
}

/*для страницы Default задаем высоту контейнера Splitter*/
.heightAttestacia
{
    padding: 0px 0px 10px 0px;
    height: 500px;
}

/*для страницы Vedom задаем высоту контейнера Splitter*/
.heightVedom
{
    padding: 0px 0px 10px 0px;
    height: 500px;
}

/*для страницы Attestacia задаем высоту контейнера Splitter*/
.heightAtt
{
    padding: 0px 0px 10px 0px;
    height: 500px;
}
/*///////////////////////////////   Стили исходного пустого приложения ///////////////////////////////////////////////////////////////*/

/*body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}*/


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
